body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f8f8f8;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

nav ul li a:hover {
    color: #007BFF;
}

.selected {
    color: white;
    background: red;
    font-weight: 700;
    border: 1px solid red;
    padding: 1%;
}

h1 {
    font-weight: 700;
    margin-left: 10%;
}

.left {
    margin-left: 10%;
}

ol li{
    padding: .5%;
}

.choice {
    width: fit-content;
}