html {
    height: 100vh;
}

body {
    font-family: Arial, sans-serif;
}

.center {
    margin: 0 auto;
    margin-top: 5%;
    text-align: center;
}

.app-name {
    margin: 0 auto;
    text-align: center;
    font-size: xx-large;
}


header {
    background-color: #f8f8f8;
    padding: 20px 0;
}

.front-page header {
    margin: 0 auto;
    background-color: transparent;
    color: white;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

nav ul li a:hover {
    color: #007BFF;
}

.front-page {
    background-color: #371B1B;
}

.front-page .wrapper {
    margin: 0 auto;
    width: 100%;
}

.patient-note {
    max-width: 40%;
    text-align: center;
    margin: 0 auto;
    margin-top: 5%;
    min-height: 70vh;
    background-color: #F6F4F3;
    padding: .4%;
    line-height: 200%;
    word-spacing: 50%;
    border-radius: 12px;
}

.selected {
    color: white;
    background: red;
    font-weight: 700;
    border: 1px solid red;
    padding: 1%;
}

h1 {
    font-weight: 700;
    margin-left: 10%;
}

.left {
    margin-left: 10%;
}

ol li{
    padding: .5%;
}

.choice {
    width: fit-content;
    text-decoration: none;
    color: black;
    padding: .4%;
}

.choice:hover {
    background: lightgrey;
    cursor: pointer;
}

.explain {
    display: none;
}

.explain-button {
    background-color: tomato;
    padding: .6%;
    width: 10%;
    color: black;
    border-radius: 10px;
    border: 1px solid transparent;
    text-decoration: none;
}

.front-page .explain-button {
    padding: 1.5%;
}

footer {
    text-align: center;
}

/* search page specific */
.search-box {
    width: 40%;
    border-radius: 12px;
    padding: .5%;
    border: 1px solid grey;
}

/* explain page only */
.slideshow {
    text-align: center;
    width: 100%;
}

.slideshow-image {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    border: none;
    max-height: 65%;
    max-width: 65%; 
}