html {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.placeholder {
    height: 250px;
    width: 500px;
    border: 2px solid black;
    
}

.white-color {
    color: white;
    background-color: black;
    padding: 1em;

}
.white-color a {
    color: white;
    text-decoration: none;
}

.space {
    margin-right: 5%;
    overflow-wrap: break-word;
}

.selected {
    background-color: darkred;
    padding: 10px;
    border-radius: 10px;
}

header {
    text-align: center;
    width: 100%;
    
}

.center {
    text-align: center;
}

.main-title {
    color: darkred;
    font-size: xx-large;
}

.main-paragraph {
    font-size: x-large;
    color: purple;
}

.app-title {
    font-size: calc(50px + 2vmin);
    margin-top: 7%;
}

.app-desc {
    font-size: calc(20px + 2vmin);
    margin-top: 5%;
    color: darkred;
}

.get-started-button {
    background-color: darkblue;
    color: white;
    border: none;
    padding: 1em;
    text-decoration: none;
    border-radius: 10px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.review-page footer {
    position: relative;
}

.second-container {
    text-align: center;
}

.second-main {
    list-style: none;
    list-style-type: none;
    display: inline-block;
    text-align: left;
}

.second-main li {
    font-size: x-large;
    margin-bottom: 1em;
}

.second-main a {
    text-decoration: none;
    color: darkred;
}


/* downloads page */

.main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}

.main-page .main-container {
    flex-direction: column;
    margin-top: 0%;
}

.download-cell {
    border: 3px solid darkred;
    padding: 2%;
    height: 250px;
    width: 150px;
    margin-left: 5%;
    border-radius: 10px;
    align-content: center;
    vertical-align: middle;
}

.download-title {
    text-align: center;
    margin-top: 55%;
    /* margin-bottom: 5%; */
}

/* Review page */
.review-cell {
    /* border: transparent; */
    /* border: 3px solid darkred; */
    padding: 2%;
    height: 100%;
    width: 50%;
    margin-top: 0;
}

.review-cell-small {
    width: 25%;
}

.review-cell .main-title {
    margin-top: 0;
    font-size: 3em;
}

.review-cell p {
    font-size: 1.3em;
}

.review-cell-center {
    width: 100%;
    height: fit-content;
    text-align: center;
}

.purple {
    color: purple;
    font-weight: bold;
}

.red {
    color: darkred;
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

/* Search Page Specific */
.search-page #main-text {
    color: darkred;
}

.search-page .review-cell a{
    text-decoration: none;
    color: black;
}

.click {
    color: darkred !important;
}

.search-box {
    width: 40%;
    border-radius: 12px;
    padding: .5%;
    border: 1px solid grey;
}

.invis {
    visibility: hidden;
}

.review-blue {
    background-color: darkblue;
    text-align: center;
    color: white;
    padding: 5px;
    border-radius: 10px;
}

/* Criteria Page */
.criteria-page h1 {
    margin-top: 2%;
}

.criteria-page .review-cell li {
    margin-top: 1em;
    font-size: 1.3em;
    margin-bottom: 1em;
}

.criteria-page .review-cell a {
    text-decoration: none;
    color: darkred;
}

/* Atrial Second */

.atrial-second-page img {
    width: 90%;
    height: 80%;
}

.review-right {
    text-align: right;
}

.back-button {
    background-color: darkblue;
    color: white;
    border: none;
    padding: 1em;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 2%;
    width: 40px;
}

.next-button {
    background-color: darkred;
    color: white;
    border: none;
    padding: 1em;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 2%;
}

/* Basics page */
.basics-page .download-cell {
    height: 210px;
    width: 140px;
}

.basics-page .download-title {
    margin-top: 45%;
}

.basics-page .download-cell a {
    color: black;
}

/* Treatment Page */
.treatment-page .review-cell li{
    font-size: x-large;
    margin-bottom: 1em;
    color: black;
    text-decoration: none;
}

.treatment-page .review-cell a {
    text-decoration: none;
    color: black;
}

.treatment-image {
    width: 90%;
    height: 90%;
}

.black {
    color: black;
}

/* Misc */
.offset-text {
    margin-left: 10%;
    margin-right: 10%;
}

.help-text {
    font-size: 1.3em;
}

.help-page footer {
    position: relative;
}

.course-page .get-started-button {
    min-width: 200px;
    max-width: 200px;
}

.course-page .main-container {
    margin-left: 10%;
    justify-content: space-around !important;
}

.course-page .review-cell {
    text-align: center;
}

.image-link {
    width: 90%;
    width: 70%;
}

.video {
    width: 90%;
    height: 90%;
    top: 0 !important;
    margin-bottom: 40%;
}

.course-second-page footer {
   position: relative;
}

.basics-second-page img {
    width: 70%;
    height: 70%;
    text-align: center;
}

.basics-second-page footer {
    position: relative;
}

.middle {
    text-align: center;
    margin-left: 5%;
}

.criteria-page .main-container {
    margin-left: 10%;
    margin-right: 10%;
    /* justify-content: space-around !important; */
}