html {
    height: 100vh;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.white-color {
    color: white;
    background-color: black;
    padding: 1em;

}
.white-color a {
    color: white;
    text-decoration: none;
}

.space {
    margin-right: 10%;
    overflow-wrap: break-word;
}

.selected {
    background-color: darkred;
    padding: 10px;
    border-radius: 10px;
}

header {
    text-align: center;
    
}

.center {
    text-align: center;
}

.main-title {
    color: darkred;
    font-size: xx-large;
}

.main-paragraph {
    font-size: x-large;
    color: purple;
}

.app-title {
    font-size: calc(50px + 2vmin);
    margin-top: 7%;
}

.app-desc {
    font-size: calc(20px + 2vmin);
    margin-top: 5%;
    color: darkred;
}

.get-started-button {
    background-color: darkblue;
    color: white;
    border: none;
    padding: 1em;
    text-decoration: none;
    border-radius: 10px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.second-container {
    text-align: center;
}

.second-main {
    list-style: none;
    list-style-type: none;
    display: inline-block;
    text-align: left;
}

.second-main li {
    font-size: x-large;
    margin-bottom: 1em;
}

.second-main a {
    text-decoration: none;
    color: darkred;
}


/* downloads page */

.main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 8%;
}

.main-page .main-container {
    flex-direction: column;
    margin-top: 0%;
}

.downloads-page .download-cell {
    border: 3px solid darkred;
    padding: 2%;
    height: 250px;
    width: 150px;
    margin-left: 5%;
    border-radius: 10px;
    align-content: center;
    vertical-align: middle;
}

.downloads-page .download-title {
    text-align: center;
    margin-top: 55%;
    /* margin-bottom: 5%; */
}

/* Review page */
.review-cell {
    /* border: transparent; */
    border: 3px solid darkred;
    padding: 2%;
    height: 100%;
    width: 50%;
    margin-top: 0;
}

.review-cell .main-title {
    margin-top: 0;
    font-size: 3em;
}

.review-cell p {
    font-size: 1.3em;
}